User_uuid= "a0821aa6-10de-401f-88d1-fabdb7b5fffa"
bucket_name= "0xexg4s7x0p7ukhcugixlb6wsg7n78sh"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"